body {
  margin: 0;
  padding: 0;
}

/* .active {
  background-color: #1d4ed8;
} */

.header {
  background-color: #0c3959;
  flex-direction: "row";
  height: 50px;

  align-items: center;
  justify-content: space-between;

  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  position: sticky;
  top: 0;
}

.headerLogo {
  height: 30px;
  width: 100px;
  color: #fff;
}

.headerLinks {
  display: flex;
  flex-direction: row;

  gap: 70px;
  justify-content: space-between;
}

.hearderTxt {
  color: #fff;
  text-decoration: none;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.5rem;
}

.menuLine {
  height: 0.2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.buildCTA {
  background-color: #a8e4f9;
  border: 0;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
}

.footer {
  background-color: #0c3959;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 2px;
  bottom: 0;
  /* width: 100%; */
  /* position: fixed; */
}

.left-footer {
  width: 35%;
}

.leftFooterTxt {
  color: #fff;
}

.right-footer {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: right;
}

.rightFooterTxt {
  color: #fff;
  text-align: right;
}

.rightFooterLink {
  color: #eeff00;
  text-decoration: none;
}

.iconDiv {
  justify-content: end;

  gap: 10px;
  display: flex;
}

.footerIcons {
  color: #fff;
}

/* @media (max-width: 480px) {
  .menu {
    display: flex;
  }

  .hearder {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px;
    justify-content: flex-start;
    width: 100%;
  }

  .headerLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    gap: 10px;
    align-items: end;
    margin-top: 165px;
    margin-right: 0;
    padding-right: 0px;
    background-color: #000;
  }

  
} */

/* For header */
@media screen and (max-width: 768px) {
  .header {
    padding-left: 20px;
    padding-right: 0px;
  }

  .headerLinks {
    display: none;
    flex-direction: column;
    margin-top: 187px;
    margin-right: 0px;
    gap: 15px;
    align-items: end;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
  }

  .hearderTxt {
    color: #333;
    text-decoration: none;
  }

  /* .menu {
    display: flex; 
  } */

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
  }

  .menuLine {
    height: 0.2rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .showMenu {
    display: flex;
  }
}

/* For footer */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left-footer,
  .right-footer {
    width: 100%;
    text-align: center;
  }

  .rightFooterTxt {
    text-align: center;
  }

  .iconDiv {
    justify-content: center;

    gap: 20px;
    display: flex;
  }
}
